@import "fonts";

$family-primary: "OpenSans";
$family-secondary: "Saol Display";
$primary: #06112C;

$navbar-item-active-background-color: transparent;

@import "../../node_modules/@creativebulma/bulma-tooltip/dist/bulma-tooltip.css";
@import "../../node_modules/bulma/bulma.sass";

