@import "./breakpoints.scss";

@font-face {
    font-family: 'Nimbus';
    src: url('../fonts/NimbusSanL-Reg.otf') format("opentype");
}
@font-face {
    font-family: 'Nibmus';
    src: url('../fonts/NimbusSanL-Bol.otf') format("opentype");
    font-weight: bold;
}

$background-color: #0E1B25;
$text-color: #f7f7ff;
$primary-color: purple;

* {
    box-sizing: border-box;
}

html body {
    min-height: 100%;
    background-color: $background-color;
    color: $text-color;
    font-family: 'Inter', 'Roboto';
}

body {
	font-size: 1.4rem;
	text-rendering: optimizeLegibility;
}

body, ul, ol, dl {
	margin: 0;
    padding: 0;
}

.is-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100vh;
}

#navbar {

    a:link    { color: $text-color; text-decoration: none; }
    a:visited { color: $text-color; text-decoration: none; }
    a:hover   { color: $primary-color; text-decoration: none; }
    a:active  { color: $text-color; text-decoration: none; }

    hr {
        width: 70vw;
        opacity: .3;
    }
}

ul {
    list-style-type: none;
}
li {
    text-align: center;
    font-size: 6vw;
    font-weight: bold;
}

.card-project {
    height: 556px;
    width: 996px;
    background-color: black;
    border-radius: 30px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 9px 4px rgba(224,224,224,0.20); 
    box-shadow: 0px 0px 9px 4px rgba(224,224,224,0.20);


    img {
        width: 100%;
        height: 100%;
        opacity: 0.6;
    }
    img:hover {
        opacity: 1;
    }

    .center {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}